.Azul{
color: #3A5A77;
}
.Areia{
color: #EFE8DC;
}
.Cinza{
color: #B1BCC8;
}
.Terracota {
color: #D08C60;
}
.Verde{
color: #A6BBA1;
}
.Verde-m{
color: #3A5A40;
}
.Off{
color: #F9F5EF;
}
.Cinza-e{
color: #2E2E2E;
}
.Bege{
color: #DAD7CD;
}
.Roxo{
color: #4B3F72;
}
.Lavanda{
color: #BFA8D2;
}
.Cinza-c{
color: #F3F4F6;
}
.Grafite{
color: #1A1A1A;
}
.paleta3{
background-color: gray;
}
.paleta2{
background-color: gray;
}
.paleta1{
background-color: grey;
}
