body{
    background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
}

.container{
    height: 515px;
    width: 515px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa{
    height: 150px;
    width: 150px;
    margin: 15px;
    background-color: blue;
    justify-content: center;
    align-items: center;

}
